/* Default (light) theme */
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Ruluko&display=swap");
/* from index.css */
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
:root {
  --base-color: #128c7e;
  --bg-color: #e2fdf5;
  --sidebar-bg: #ffffff;
  --chat-bg: #e5ddd5;
  --text-color: #000000;
  --message-sent-bg: #dcf8c6;
  --message-received-bg: #ffffff;
  --navbar-bg: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.35);
  --font-stylish-normal: "Ruluko", sans-serif;
  --font-stylish-cursive: "Alex Brush", cursive;
  --link-color: #306dd6;
  --button-color: #128c7e;
  --button-hover-color: #075e54;
  --wlbd-color: #ffffff;
  --blwd-color: #000000;
}

/* Dark theme */
[data-theme="dark"] {
  --bg-color: #111b21;
  --sidebar-bg: #202c33;
  --chat-bg: #131c21;
  --text-color: #e5ddd5;
  --message-sent-bg: #056162;
  --message-received-bg: #262d31;
  --navbar-bg: #202c33;
  --shadow-color: rgb(169 169 169 / 22%);
  --font-stylish-normal: "Ruluko", sans-serif;
  --font-stylish-cursive: "Alex Brush", cursive;
  --link-color: #95bcff;
  --button-color: #128c7e;
  --button-hover-color: #075e54;
  --wlbd-color: #000000;
  --blwd-color: #ffffff;
}

/* Apply variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.sidebar {
  background-color: var(--sidebar-bg);
}

.chat-window {
  background-color: var(--chat-bg);
}

.navbar {
  background-color: var(--navbar-bg);
}

.message.sent {
  background-color: var(--message-sent-bg);
  color: var(--text-color);
}

.message.received {
  background-color: var(--message-received-bg);
  color: var(--text-color);
}
