.emoji-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--bg-color);
}

.emoji {
  position: absolute;
  user-select: none;
  pointer-events: none;
  opacity: 0.7;
  font-weight: 300;
  color: transparent;
  -webkit-text-stroke: 1.8px #00000055; /* Outline emoji effect */
}
